@model mp_ecommerce_netframework.Models.QueryData
@{
    ViewBag.Title = "Success";
}

<h2>@ViewBag.Title</h2>
<ul>
    <li>
        <strong>collection_id:</strong> @Model.collection_id
    </li>
    <li>
        <strong>collection_status:</strong> @Model.collection_status
    </li>
    <li>
        <strong>external_reference:</strong> @Model.external_reference
    </li>
    <li>
        <strong>merchant_account_id:</strong> @Model.merchant_account_id
    </li>
    <li>
        <strong>payment_type:</strong> @Model.payment_type
    </li>
    <li>
        <strong>preference_id:</strong> @Model.preference_id
    </li>
    <li>
        <strong>processing_mode:</strong> @Model.processing_mode
    </li>
    <li>
        <strong>site_id:</strong> @Model.site_id
    </li>
</ul>

