@model mp_ecommerce_netframework.Models.QueryData
@{
    ViewBag.Title = "Success";
}

<h2>ViewBag.Title</h2>
<ul>
    <li>
        @Model.collection_id
    </li>
    <li>
        @Model.collection_status
    </li>
    <li>
        @Model.external_reference
    </li>
    <li>
        @Model.merchant_account_id
    </li>
    <li>
        @Model.payment_type
    </li>
    <li>
        @Model.preference_id
    </li>
    <li>
        @Model.processing_mode
    </li>
    <li>
        @Model.site_id
    </li>
</ul>

